<app-menu></app-menu>
<div class="component">
    <table class="table table-striped table-sm">
        <tr>
            <td>Id:</td>
            <td>
                <input [(ngModel)]="user.id" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
                <input [(ngModel)]="user.userName" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>
                <input [(ngModel)]="user.firstName" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>
                <input [(ngModel)]="user.lastName" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                <input [(ngModel)]="user.phoneNumber" type="text" size="7" disabled>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input [(ngModel)]="user.email" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Reviewer:</td>
            <td>
                <input [(ngModel)]="user.isReviewer" type="checkbox" disabled>
            </td>
        </tr>
        
        <tr>
            <tr>
                <td>Administrator:</td>
                <td>
                    <input [(ngModel)]="user.isAdmin" type="checkbox" disabled >
                </td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="VerifyDelete()" class = "btn btn-danger">Delete</button>|
                <button [hidden]="isHidden" (click)="delete()" class = "btn btn-danger">Verify Delete</button>  
            </td>
        </tr>
    
        