<app-menu></app-menu>

<div class="h3">Product List </div> | 
<a href="/product/create">Create</a>

<table class="table table-sm">
    <tr>
    <th><a (click)="sortColumn('id')" class="btn btn-link">Id</a></th>
    <th>Vendor</th>   
    <th>Part Number</th>
    <th>Name</th>
    <th>Price</th>
    <th>Unit</th>
    <!-- <th>Photo Path</th> -->
    
    </tr>
    
    <tr *ngFor="let product of products|sort:sortCriteria:ascSequence ">
        <td>{{ product.id}}</td>
        <td>{{ product.vendor.name}}</td>
        <td>{{ product.partNumber}}</td>
        <td>{{ product.name}}</td>
        <td>{{ product.price}}</td>
        <td>{{ product.unit}}</td>
        <!-- <td>{{ product.photoPath}}</td> -->
        <td>
            <a routerLink="/product/detail/{{product.id}}">Detail</a> |
            <a routerLink="/product/edit/{{product.id}}">Edit</a>
        </td>
    
        </tr>
