<app-menu></app-menu>
<div class="component">
    <table class="table table-striped table-sm">
        <tr>
            <td>Id:</td>
            <td>
                <input [(ngModel)]="request.id" type="text" size="10" disabled>
            </td>
        </tr>
   
        <tr>
            <td>Description</td>
            <td>
                <input [(ngModel)]="request.description" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>Justification:</td>
            <td>
                <input [(ngModel)]="request.justification" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Date Needed:</td>
            <td>
                <input [(ngModel)]="request.dateNeeded" type="text" size="7" disabled>
            </td>
        </tr>
        <tr>
            <td>Delivery Mode:</td>
            <td>
                <input [(ngModel)]="request.deliveryMode" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <input [(ngModel)]="request.status" type="text" disabled>
            </td>
        </tr>
        
        <tr>
            <tr>
                <td>Total</td>
                <td>
                    <input [(ngModel)]="request.total" type="text" disabled >
                </td>
        </tr>

        <tr>
            <tr>
                <td>Submitted Date</td>
                <td>
                    <input [(ngModel)]="request.submittedDate" type="text" disabled >
                </td>
        </tr>
        <tr>
            <tr>
                <td>Reason for Rejection</td>
                <td>
                    <input [(ngModel)]="request.reasonForRejection" type="text" disabled >
                </td>
        </tr>







        <tr>
            <td colspan="2">
                <button (click)="VerifyDelete()" class = "btn btn-danger">Delete</button>|
                <button [hidden]="isHidden" (click)="delete()" class = "btn btn-danger">Verify Delete</button>  
            </td>
        </tr>
