<app-menu></app-menu>
<div class="component">
    <table class="table table-striped table-sm">
        <tr>
            <td>Id:</td>
            <td>
                <input [(ngModel)]="product.id" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>Vendor:</td>
            <td>
                <input [(ngModel)]="product.vendor" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>Part Number:</td>
            <td>
                <input [(ngModel)]="product.partNumber" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input [(ngModel)]="product.name" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>
                <input [(ngModel)]="product.price" type="text" size="7" disabled>
            </td>
        </tr>
        <tr>
            <td>Unit:</td>
            <td>
                <input [(ngModel)]="product.unit" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Photo Path:</td>
            <td>
                <input [(ngModel)]="product.photoPath" type="text" disabled>
            </td>
        </tr>
        
     

        <tr>
            <td colspan="2">
                <button (click)="VerifyDelete()" class = "btn btn-danger">Delete</button>|
                <button [hidden]="isHidden" (click)="delete()" class = "btn btn-danger">Verify Delete</button>  
            </td>
        </tr>
