<app-menu></app-menu>
<div class="h3">Request List </div>
<a href="/request/create">Create</a> |
<table class="table table-sm">
    <tr>
    <th>Id</th>
    <th>User</th>
    <th>Description</th>
    <th>Justification</th>
    <th>Date Needed</th>
    <th>Delivery Mode</th>
    <th>Status</th>
    <th>Total</th>
    <th>Submitted Date</th>
    <th>Reason for Rejection</th>

    </tr>

    <tr *ngFor="let request of requests" >
        <td>{{ request.id}}</td>
        <td>{{ request.user.userName}}</td>
        <td>{{ request.description}}</td>
        <td>{{ request.justification}}</td>
        <td>{{ request.dateNeeded}}</td>
        <td>{{ request.deliveryMode}}</td>
        <td>{{ request.status}}</td>
        <td>{{ request.total}}</td>
        <td>{{ request.submittedDate}}</td>
        <td>{{ request.reasonForRejection}}</td>
        <td>
            <a routerLink="/request/detail/{{request.id}}">Detail</a> |
            <a routerLink="/request/edit/{{request.id}}">Edit</a> |
            <a routerLink="/requestline/create/">Add</a>
        </td>
  
        </tr>
